<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @itinerary.group_id %>
</p>

<p>
  <b>Title:</b>
  <%= @itinerary.title %>
</p>


<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
