<h1>Listing groups</h1>

<table>
  <tr>
    <th>Ranking</th>
    <th>Money</th>
    <th>Points</th>
    <th>Speciality</th>
    <th>User</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.ranking %></td>
    <td><%= group.money %></td>
    <td><%= group.points %></td>
    <td><%= group.speciality %></td>
    <td><%= group.user_id %></td>
    <td><%= group.title %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
