<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :experience %><br />
    <%= f.text_field :experience %>
  </div>
  <div class="field">
    <%= f.label :health %><br />
    <%= f.text_field :health %>
  </div>
  <div class="field">
    <%= f.label :energy %><br />
    <%= f.text_field :energy %>
  </div>
  <div class="field">
    <%= f.label :stamina %><br />
    <%= f.text_field :stamina %>
  </div>
  <div class="field">
    <%= f.label :speciality %><br />
    <%= f.text_field :speciality %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :avatar_file_name %><br />
    <%= f.text_field :avatar_file_name %>
  </div>
  <div class="field">
    <%= f.label :avatar_content_type %><br />
    <%= f.text_field :avatar_content_type %>
  </div>
  <div class="field">
    <%= f.label :avatar_file_size %><br />
    <%= f.number_field :avatar_file_size %>
  </div>
  <div class="field">
    <%= f.label :avatar_updated_at %><br />
    <%= f.datetime_select :avatar_updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
