<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <%# <div class="alert-box [success warning error]">%>
     <%# tert%>
     
   <%#    <a href="" class="close">&times;</a>%>
   <%#  </div>%>
   
    <div id="insideContainer" class="container">
	  <div class="row"><hr></div>
	  
	  <div class="row">
	  	<div class="eight columns">
      <a href = "">
	  		<h3>SocialWar</h3>
      </a>
	  	</div>
        <% if user_signed_in?%>
          <div class="four columns hide-on-phones">
            <p class="right"> <%= current_user.email %><%= link_to "Logout", destroy_user_session_path, :method=>:delete, :class=> "small blue nice radius button"%></p>
          </div>
        <%else%>
          <div class="four columns hide-on-phones">
            <p class="right"> <%= link_to "Login", new_user_session_path%><%= link_to "Signup", new_user_registration_path, :class=> "small blue nice radius button"%></p>
          </div>
          <div class="four columns show-on-phones">
            <%# <p><a href="#">Login</a> <a href="#" class="">Sign Up</a>%>
            </p>
          </div>
        <%end%>

	  </div>
    <div class="row">
      <dl class="nice tabs mobile hide-on-phones">
        <dd><%= link_to "Home", root_url, :class=>"active"%></dd>
        <dd><%= link_to GROUP, groups_path%></dd>
        <dd><%= link_to PLAYER, players_path%></dd>
        <dd><%= link_to "Tast", tasks_path%></dd>
        <dd><%= link_to "Itinerary", itineraries_path%></dd>
        <dd><%= link_to "Item", items_url%></dd>
			</dl>
      <%= yield %>
    </div>
	  
	</div>
  
  </div>
<body>
</html>
